<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<div class="homeimg">



    <div class="aside">
        <i class="title">Find the fish</i>
        <br>
        <i> Platform for marine life and seafood lovers</i>
    </div>
</div>


<section>
    <p class="subtitle">Our Picks</p>
    <div class="fishcontainer">


        {{#each fish}}
        <div id="card" class="fishphoto">
            <a style=" text-decoration: none; color: black;" href="/fish/{{this._id}}">
                <img class="fishphoto1" src="{{this.speciesIllustrationPhoto}}" alt="" />
                <h5 class="card-title" style="margin: 10px;">{{this.speciesName}}</h5>
            </a>
        </div>
        {{/each}}



    </div>
    <p class="subtitle">Our Picks</p>
    <div class="fishcontainer">


        {{#each recipe}}
        <div class="card">
            <a style=" text-decoration: none; color: black;" href="/recipes/{{this._id}}">
                <img class="card-img-top" id="recipepho" src="{{this.photo}}" alt="recipe">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    by {{this.creater.username}}
                </div>


            </a>
        </div>
        {{/each}}



    </div>

</section>

{{!-- <p class="subtitle">Top 5 Fish Recipes</p> --}}
<p>To know more, please <a href="/signup">Sign up</a></p>