<div class="homeimg">

    <p class="welcome">Welcome to Find-the-Fish. </p>
</div>


<section>
    <p class="subtitle">Our Picks</p>
    <div class="fishcontainer">


        {{#each fish}}
        <a href="/fish/{{this._id}}">
            <img class="fishphoto" src="{{this.speciesIllustrationPhoto}}" alt="" />
        </a>
        {{/each}}



    </div>
    <p class="subtitle">Our Picks</p>
    <div class="fishcontainer">


        {{#each recipe}}
        <div class="card" style="width: 17rem; height: 25rem;">
            <a href="/recipes/{{this._id}}">
                <img class="card-img-top" src="{{this.photo}}" alt="recipe">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                </div>


            </a>
        </div>
        {{/each}}



    </div>

</section>

{{!-- <p class="subtitle">Top 5 Fish Recipes</p> --}}
<p>To know more, please <a href="/signup">Sign up</a></p>