<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<section>

  <div class="button" role="group" aria-label="Basic outlined example">


    <div class="editanddeletebutton">
      {{#if isCreator}}
      <form action="/fish/{{fish._id}}/edit" method="GET">
        <button id="btn2" class="btn btn-danger">Edit</button>
      </form>

      <form action="/fish/{{fish._id}}/delete" method="POST">
        <button id="btn1" class="btn btn-danger">Delete</button>
      </form>
      {{/if}}
    </div>
  </div>

  <div class="profileContainer">

    <img class="bigfishphoto" src="{{fish.speciesIllustrationPhoto}}" alt="fish" />

    <div class="info">
      <p class="subtitle">Name : {{fish.speciesName}} </p>

      <p class="subtitle">Scientific Name : {{fish.scientificName}}</p>
      <p class="content">Avalibility : </p>
      <p class="content2">{{{fish.avalibility}}}</p>
      <p class="content">Location :</p>
      <p class="content2">{{{fish.location}}}</p>
      <p class="content">Biology : </p>
      <p class="content2">{{{fish.biology}}}</p>


      {{#if isCreatedbyUser}}
      <p class="content">Information provided by : </p>
      <p class="content2">{{fish.fisher.username}} </p>
      {{/if}}
    </div>
  </div>

</section>