<section>

  <div class="profileContainer1">
    <div class="profilePic">
      <img class="avatar" src="{{user.profilePic}}" alt="">
      <h3>{{user.username}}</h3>

      <form class="profilephoto" method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="imageUrl" accept="image/png, image/jpg">

        <button type="submit">Submit</button>
      </form>
    </div>
    <div>

      <div class="infoContainer">
        <p class="subtitle">Edit the fish you create</p>

        <div class="recipecontainer">
          {{#each fish}}
          <a href="/fish/{{this._id}}">
            <img class="fishphoto" src="{{this.speciesIllustrationPhoto}}" alt="">
          </a>
          {{/each }}

        </div>
        <p class="subtitle">Edit the reciepe you create</p>
        <div class="recipecontainer">
          {{#each recipe}}
          <div class="card" style="width: 17rem; height: 25rem; margin: 8px;">
            <a href="/recipes/{{this._id}}" style="text-decoration: none; color: black;">
              <img class="card-img-top" id="recipepho" src="{{this.photo}}" alt="recipe">
              <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
              </div>


            </a>
          </div>
          {{/each }}
        </div>





      </div>
    </div>
  </div>
</section>