<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<section>
  <h1>Search result</h1>


  <div class="fishcontainer">
    {{#each fish}}
    <div id="card" class="fishphoto">
      <a style=" text-decoration: none; color: black;" href="/fish/{{this._id}}">
        <img class="fishphoto1" src="{{this.speciesIllustrationPhoto}}" alt="" />
        <h5 class="card-title" style="margin: 10px;">{{this.speciesName}}</h5>
      </a>
    </div>
    {{/each}}

    {{#each recipe}}
    <div class="card">
      <a style=" text-decoration: none; color: black;" href="/recipes/{{this._id}}">
        <img class="card-img-top" id="recipepho" src="{{this.photo}}" alt="recipe">
        <div class="card-body">
          <h4 class="card-title">{{this.title}}</h4>

        </div>


      </a>
    </div>
    {{/each}}

  </div>

  {{#if error}}
  <p class="error">{{error}}<a href="/createfish">Creating Fish</a></p>
  <a href=""></a>
  {{/if}}

</section>