<section>
  <h1>Search result</h1>


  <div class="fishcontainer">
    {{#each fish}}
    <div id="card" class="fishphoto">
      <a style=" text-decoration: none; color: black;" href="/fish/{{this._id}}">
        <img class="fishphoto1" src="{{this.speciesIllustrationPhoto}}" alt="" />
        <h5 class="card-title" style="margin: 10px;">{{this.speciesName}}</h5>
      </a>
    </div>
    {{/each}}

    {{#each recipe }}


    <a href="/recipes/{{this._id}}">

      <img class="fishphoto" src="{{this.photo}}" alt="">
    </a>



    {{/each}}

  </div>

  {{#if error}}
  <p class="error">{{error}}<a href="/createfish">Creating Fish</a></p>
  <a href=""></a>
  {{/if}}

</section>