<section>
  <h1>Search result</h1>


  <div class="fishcontainer"></div>
  {{#each fish }}


  <a href="/fish/{{this._id}}" style="text-decoration: none">
    <img class="fishphoto" src="{{this.speciesIllustrationPhoto}}" alt="">
  </a>



  {{/each}}

  {{#each recipe }}


  <a href="/recipes/{{this._id}}">

    <img class="fishphoto" src="{{this.photo}}" alt="">
  </a>



  {{/each}}

  </div>

  {{#if error}}
  <p class="error">{{error}}<a href="/createfish">Creating Fish</a></p>
  <a href=""></a>
  {{/if}}

</section>