<h1>Update the recipe details</h1>

<b></b>
<b></b>

<h3>Title: {{recipe.title}}</h3>

<p>ingredients: {{recipe.ingredients}}</p>

<p>instructions: {{recipe.instructions}}</p>





{{!-- The recipe._id will be a dynamic id to a single todo --}}
<form action="/recipes/{{recipe._id}}/edit" method="GET">
    <button type="submit" class="btn btn-warning">Edit</button>
</form>

{{!-- The recipe._id will be a dynamic id to a single todo --}}
<form action="/recipes/{{recipe._id}}/delete" method="POST">
    <button class="btn btn-danger">Delete</button>
</form>