<section>

    <div class="button" role="group" aria-label="Basic outlined example">


        <div class="editanddeletebutton">
            {{#if isCreator}}
            <form action="/recipes/{{recipe._id}}/edit" method="GET">
                <button id="btn2" class="btn btn-danger">Edit</button>
            </form>

            <form action="/recipe/{{recipe._id}}/delete" method="POST">
                <button id="btn1" class="btn btn-danger">Delete</button>
            </form>
            {{/if}}
        </div>
    </div>

    <div class="profileContainer">
        <div>
            <img id="recipepho" src="{{recipe.photo}}" alt="fish" />
        </div>
        <div class="info">
            <p class="subtitle">{{recipe.title}} </p>
            <p class="content">Ingredients: </p>
            {{#each recipe.ingredients}}

            <li class="content">{{this}}</p>
                {{/each}}

                <p class="content">Instructions: {{recipe.instructions}}</p>



                {{#if isCreatedbyUser}}
                <p class="content">Information provided by : </p>
                <p class="content2">{{recipe.creater.username}} </p>
                {{/if}}
        </div>
    </div>

</section>